<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath=".\IsBasvuru.WebAPI.exe"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">

				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT"
										 value="Production" />

					<environmentVariable name="ConnectionStrings__DefaultConnection"
										 value="Server=localhost;Port=3306;Database=isbasvurudb;User=chamada_is;Password=a5_k2p58I;SslMode=None;" />
										<!--AllowPublicKeyRetrieval=True;-->
					<environmentVariable name="JwtSettings__Issuer"
										 value="IsBasvuruAPI" />

					<environmentVariable name="JwtSettings__Audience"
										 value="IsBasvuruFrontend" />

					<environmentVariable name="JwtSettings__Key"
										 value="BuProjeIcinCokGizliVeUzunBirAnahtar_IsBasvuru_2024_Key!" />

					<environmentVariable name="JwtSettings__DurationInMinutes"
										 value="360" />

					<environmentVariable name="EmailSettings__SmtpServer"
										 value="smtp.gmail.com" />

					<environmentVariable name="EmailSettings__Port"
										 value="587" />

					<environmentVariable name="EmailSettings__SenderEmail"
										 value="kariyer@chamadaprestige.com" />

					<environmentVariable name="EmailSettings__SenderName"
										 value="Chamada Hotels Doğrulama" />

					<environmentVariable name="EmailSettings__Password"
										 value="pnhwxeswiflsnpvj" />

					<environmentVariable name="Recaptcha__SecretKey"
										 value="6LcfJQUsAAAAAE0A-nSG_d90guBvisfnPk-7Zzmr" />
					<environmentVariable name="Recaptcha__AdminSecretKey"
										 value="6LeC9JUtAAAAAC4gfwBL_G-m7mD5pFqY03D23F6F" />

					<environmentVariable name="Recaptcha__VerifyUrl"
										 value="https://www.google.com/recaptcha/api/siteverify" />

					<environmentVariable name="Cors__AllowedOrigins__0"
										 value="https://chamadaacademy.com" />
				</environmentVariables>

			</aspNetCore>
		</system.webServer>
	</location>
</configuration>